<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.legacy.persistence.mybatis.NamespaceMapper">

    <sql id="joinSampleMutation">
        INNER JOIN sample ON mutation.SAMPLE_ID = sample.INTERNAL_ID
        INNER JOIN patient ON sample.PATIENT_ID = patient.INTERNAL_ID
        INNER JOIN cancer_study ON patient.CANCER_STUDY_ID = cancer_study.CANCER_STUDY_ID
    </sql>

    <sql id="joinSampleStructuralVariants">
        INNER JOIN sample ON structural_variant.SAMPLE_ID = sample.INTERNAL_ID
        INNER JOIN patient ON sample.PATIENT_ID = patient.INTERNAL_ID
        INNER JOIN cancer_study ON patient.CANCER_STUDY_ID = cancer_study.CANCER_STUDY_ID
    </sql>

    <sql id="joinSampleCNA">
        INNER JOIN sample ON sample_cna_event.SAMPLE_ID = sample.INTERNAL_ID
        INNER JOIN patient ON sample.PATIENT_ID = patient.INTERNAL_ID
        INNER JOIN cancer_study ON patient.CANCER_STUDY_ID = cancer_study.CANCER_STUDY_ID
    </sql>

    <sql id="whereSampleInStudyIds">
        <where>
            <if test="sampleIds == null">
                cancer_study.CANCER_STUDY_IDENTIFIER = #{studyIds[0]}
            </if>
            <if test="sampleIds != null and sampleIds.isEmpty()">
                1 = 0
            </if>
            <if test="sampleIds != null and !sampleIds.isEmpty()">
                <if test="@java.util.Arrays@stream(studyIds.toArray()).distinct().count() == 1">
                    cancer_study.CANCER_STUDY_IDENTIFIER = #{studyIds[0]} AND
                    sample.STABLE_ID IN
                        <foreach item="item" collection="sampleIds" open="(" separator="," close=")">#{item}</foreach>
                </if>
                <if test="@java.util.Arrays@stream(studyIds.toArray()).distinct().count() > 1">
                    <bind name="sampleUniqueKeys" value="@org.cbioportal.legacy.persistence.mybatis.util.SqlUtils@combineStudyAndEntityIds(studyIds, sampleIds)" />
                    CONCAT(cancer_study.CANCER_STUDY_IDENTIFIER, ':', sample.STABLE_ID) IN
                        <foreach item="item" collection="sampleUniqueKeys" open="(" separator="," close=")">#{item}</foreach>
                </if>
            </if>
        </where>
    </sql>

    <!-- Annotation producers can add namespaces incrementally, so inspect each distinct document shape. -->
    <sql id="getNamespaceRows">
        (SELECT DISTINCT ANNOTATION_JSON
        FROM mutation
        <include refid="joinSampleMutation"/>
        WHERE cancer_study.CANCER_STUDY_IDENTIFIER = #{studyId}
        AND ANNOTATION_JSON IS NOT NULL)
        UNION ALL
        (SELECT DISTINCT ANNOTATION_JSON
        FROM structural_variant
        <include refid="joinSampleStructuralVariants"/>
        WHERE cancer_study.CANCER_STUDY_IDENTIFIER = #{studyId}
        AND ANNOTATION_JSON IS NOT NULL)
        UNION ALL
        (SELECT DISTINCT ANNOTATION_JSON
        FROM sample_cna_event
        <include refid="joinSampleCNA"/>
        WHERE cancer_study.CANCER_STUDY_IDENTIFIER = #{studyId}
        AND ANNOTATION_JSON IS NOT NULL)
    </sql>

    <sql id="namespaceValue">
        <choose>
            <when test="_databaseId == 'starrocks'">
                get_json_string(ANNOTATION_JSON, CONCAT('$.', #{outerKey}, '.', #{innerKey}))
            </when>
            <otherwise>
                JSON_UNQUOTE(JSON_EXTRACT(ANNOTATION_JSON, CONCAT('$.', #{outerKey}, '.', #{innerKey})))
            </otherwise>
        </choose>
    </sql>

    <sql id="namespaceAttributeValue">
        <choose>
            <when test="_databaseId == 'starrocks'">
                get_json_string(ANNOTATION_JSON, CONCAT('$.', #{namespaceAttribute.outerKey}, '.', #{namespaceAttribute.innerKey}))
            </when>
            <otherwise>
                JSON_UNQUOTE(JSON_EXTRACT(ANNOTATION_JSON, CONCAT('$.', #{namespaceAttribute.outerKey}, '.', #{namespaceAttribute.innerKey})))
            </otherwise>
        </choose>
    </sql>

    <select id="getNamespaceOuterKey" resultType="org.cbioportal.legacy.model.NamespaceAttribute">
        <choose>
            <when test="studyIds.isEmpty()">
                SELECT CAST(NULL AS VARCHAR) AS outerKey WHERE 1 = 0
            </when>
            <otherwise>
                <choose>
                    <when test="_databaseId == 'starrocks'">
                        SELECT DISTINCT outerEntry.`key` AS outerKey
                        FROM (
                            <foreach item="studyId" collection="studyIds" open="(" separator="UNION ALL" close=")">
                                <include refid="getNamespaceRows"/>
                            </foreach>
                        ) combinedAnnotations,
                        LATERAL JSON_EACH(PARSE_JSON(ANNOTATION_JSON)) outerEntry
                    </when>
                    <otherwise>
                        SELECT DISTINCT JSON_UNQUOTE(outerKey) AS outerKey
                        FROM (
                            <foreach item="studyId" collection="studyIds" open="(" separator="UNION ALL" close=")">
                                <include refid="getNamespaceRows"/>
                            </foreach>
                        ) combinedAnnotations,
                        json_table(json_keys(ANNOTATION_JSON), '$[*]' COLUMNS(outerKey JSON PATH '$')) t
                    </otherwise>
                </choose>
            </otherwise>
        </choose>
    </select>

    <select id="getNamespaceInnerKey" resultType="org.cbioportal.legacy.model.NamespaceAttribute">
        <choose>
            <when test="studyIds.isEmpty()">
                SELECT CAST(NULL AS VARCHAR) AS innerKey, #{outerKey} AS outerKey WHERE 1 = 0
            </when>
            <otherwise>
                <choose>
                    <when test="_databaseId == 'starrocks'">
                        SELECT DISTINCT innerEntry.`key` AS innerKey, #{outerKey} AS outerKey
                        FROM (
                            <foreach item="studyId" collection="studyIds" open="(" separator="UNION ALL" close=")">
                                <include refid="getNamespaceRows"/>
                            </foreach>
                        ) combinedAnnotations,
                        LATERAL JSON_EACH(PARSE_JSON(ANNOTATION_JSON)) outerEntry,
                        LATERAL JSON_EACH(outerEntry.value) innerEntry
                        WHERE outerEntry.`key` = #{outerKey}
                    </when>
                    <otherwise>
                        SELECT DISTINCT JSON_UNQUOTE(innerKey) AS innerKey, #{outerKey} AS outerKey
                        FROM (
                            <foreach item="studyId" collection="studyIds" open="(" separator="UNION ALL" close=")">
                                <include refid="getNamespaceRows"/>
                            </foreach>
                        ) combinedAnnotations,
                        json_table(json_keys(JSON_EXTRACT(ANNOTATION_JSON, CONCAT('$.', #{outerKey}))),
                        '$[*]' COLUMNS(innerKey JSON PATH '$')) t
                    </otherwise>
                </choose>
            </otherwise>
        </choose>
    </select>

    <select id="getNamespaceAttributeCountsBySampleIds" resultType="org.cbioportal.legacy.model.NamespaceAttributeCount">
    SELECT outerKey, innerKey, COUNT(DISTINCT SAMPLE_ID) AS count
    FROM (
        <foreach collection="namespaceAttributes" item="namespaceAttribute" separator="UNION ALL">
            SELECT DISTINCT SAMPLE_ID, 
                #{namespaceAttribute.outerKey} AS outerKey, 
                #{namespaceAttribute.innerKey} AS innerKey
            FROM mutation
            <include refid="joinSampleMutation"/>
            <include refid="whereSampleInStudyIds"/>
            AND <include refid="namespaceAttributeValue"/> IS NOT NULL
            AND <include refid="namespaceAttributeValue"/> != 'null'

            UNION ALL

            SELECT DISTINCT SAMPLE_ID, 
                #{namespaceAttribute.outerKey} AS outerKey, 
                #{namespaceAttribute.innerKey} AS innerKey
            FROM structural_variant
            <include refid="joinSampleStructuralVariants"/>
            <include refid="whereSampleInStudyIds"/>
            AND <include refid="namespaceAttributeValue"/> IS NOT NULL
            AND <include refid="namespaceAttributeValue"/> != 'null'

            UNION ALL

            SELECT DISTINCT SAMPLE_ID, 
                #{namespaceAttribute.outerKey} AS outerKey, 
                #{namespaceAttribute.innerKey} AS innerKey
            FROM sample_cna_event
            <include refid="joinSampleCNA"/>
            <include refid="whereSampleInStudyIds"/>
            AND <include refid="namespaceAttributeValue"/> IS NOT NULL
            AND <include refid="namespaceAttributeValue"/> != 'null'
        </foreach>
    ) combinedCounts
    GROUP BY outerKey, innerKey;
    </select>

    <select id="getNamespaceDataCounts" resultType="org.cbioportal.legacy.model.NamespaceDataCount">
        SELECT 
            value,
            outerKey,
            innerKey,
            COUNT(DISTINCT SAMPLE_ID) AS count,
            COUNT(SAMPLE_ID) AS totalCount
        FROM (
            SELECT 
                <include refid="namespaceValue"/> AS value,
                #{outerKey} AS outerKey,
                #{innerKey} AS innerKey,
                SAMPLE_ID AS SAMPLE_ID
            FROM mutation
            <include refid="joinSampleMutation"/>
            <include refid="whereSampleInStudyIds"/>
            AND <include refid="namespaceValue"/> IS NOT NULL
            AND <include refid="namespaceValue"/> != 'null'

            UNION ALL

            SELECT 
                <include refid="namespaceValue"/> AS value,
                #{outerKey} AS outerKey,
                #{innerKey} AS innerKey,
                SAMPLE_ID AS SAMPLE_ID
            FROM structural_variant
            <include refid="joinSampleStructuralVariants"/>
            <include refid="whereSampleInStudyIds"/>
            AND <include refid="namespaceValue"/> IS NOT NULL
            AND <include refid="namespaceValue"/> != 'null'

            UNION ALL

            SELECT 
                <include refid="namespaceValue"/> AS value,
                #{outerKey} AS outerKey,
                #{innerKey} AS innerKey,
                SAMPLE_ID AS SAMPLE_ID
            FROM sample_cna_event
            <include refid="joinSampleCNA"/>
            <include refid="whereSampleInStudyIds"/>
            AND <include refid="namespaceValue"/> IS NOT NULL
            AND <include refid="namespaceValue"/> != 'null'
        ) combinedCounts
        GROUP BY value, outerKey, innerKey;
    </select>

    <select id="getNamespaceData" resultType="org.cbioportal.legacy.model.NamespaceData">
    SELECT 
        DISTINCT(<include refid="namespaceValue"/>) AS attrValue,
        #{outerKey} AS outerKey,
        #{innerKey} AS innerKey,
        studyId AS studyId,
        sampleId AS sampleId
    FROM (
        SELECT ANNOTATION_JSON, sample.STABLE_ID AS sampleId, cancer_study.CANCER_STUDY_IDENTIFIER AS studyId
        FROM mutation
        <include refid="joinSampleMutation"/>
        <include refid="whereSampleInStudyIds"/>

        UNION ALL

        SELECT ANNOTATION_JSON, sample.STABLE_ID AS sampleId, cancer_study.CANCER_STUDY_IDENTIFIER AS studyId
        FROM structural_variant
        <include refid="joinSampleStructuralVariants"/>
        <include refid="whereSampleInStudyIds"/>

        UNION ALL

        SELECT ANNOTATION_JSON, sample.STABLE_ID AS sampleId, cancer_study.CANCER_STUDY_IDENTIFIER AS studyId
        FROM sample_cna_event
        <include refid="joinSampleCNA"/>
        <include refid="whereSampleInStudyIds"/>
        ) combinedNamespaceData
        WHERE <include refid="namespaceValue"/> IS NOT NULL;
    </select>


    <select id="getNamespaceDataForComparison" resultType="org.cbioportal.legacy.model.NamespaceData">
        SELECT 
            #{outerKey} AS outerKey,
            #{value} AS attrValue,
            #{innerKey} AS innerKey,
            studyId,
            sampleId,
            patientId
        FROM (
            SELECT sample.STABLE_ID AS sampleId, patient.STABLE_ID AS patientId, cancer_study.CANCER_STUDY_IDENTIFIER AS studyId
            FROM mutation
            <include refid="joinSampleMutation"/>
            <include refid="whereSampleInStudyIds"/>
            AND <include refid="namespaceValue"/> = #{value}

            UNION ALL

            SELECT sample.STABLE_ID AS sampleId, patient.STABLE_ID AS patientId, cancer_study.CANCER_STUDY_IDENTIFIER AS studyId
            FROM structural_variant
            <include refid="joinSampleStructuralVariants"/>
            <include refid="whereSampleInStudyIds"/>
            AND <include refid="namespaceValue"/> = #{value}

            UNION ALL

            SELECT sample.STABLE_ID AS sampleId, patient.STABLE_ID AS patientId, cancer_study.CANCER_STUDY_IDENTIFIER AS studyId
            FROM sample_cna_event
            <include refid="joinSampleCNA"/>
            <include refid="whereSampleInStudyIds"/>
            AND <include refid="namespaceValue"/> = #{value}
        ) combinedNamespaceData
        GROUP BY sampleId, studyId, patientId;
    </select>
</mapper>
